<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1._A_right</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
    </array>
    <key>public.kern1._B_right</key>
    <array>
      <string>B</string>
      <string>germandbls</string>
    </array>
    <key>public.kern1._C_accents</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1._E_right</key>
    <array>
      <string>E</string>
      <string>AE</string>
      <string>OE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
    </array>
    <key>public.kern1._I_accents</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern1._N_accents</key>
    <array>
      <string>N</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1._O_right</key>
    <array>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1._S_accents</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern1._U_accents</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern1._Y_accents</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1._a_right</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
    </array>
    <key>public.kern1._c_accents</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1._e_right</key>
    <array>
      <string>e</string>
      <string>ae</string>
      <string>oe</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
    </array>
    <key>public.kern1._i_accents</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
    </array>
    <key>public.kern1._n_accents</key>
    <array>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1._o_right</key>
    <array>
      <string>o</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern1._s_accents</key>
    <array>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern1._u_accents</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern1._y_accents</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2._A_left</key>
    <array>
      <string>A</string>
      <string>AE</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
    </array>
    <key>public.kern2._C_accents</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern2._E_left</key>
    <array>
      <string>E</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
    </array>
    <key>public.kern2._I_accents</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern2._N_accents</key>
    <array>
      <string>N</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern2._O_left</key>
    <array>
      <string>O</string>
      <string>OE</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern2._S_accents</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern2._U_accents</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern2._Y_accents</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2._a_left</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
    </array>
    <key>public.kern2._c_accents</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern2._e_left</key>
    <array>
      <string>e</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
    </array>
    <key>public.kern2._i_accents</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
    </array>
    <key>public.kern2._n_accents</key>
    <array>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern2._o_left</key>
    <array>
      <string>o</string>
      <string>oe</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern2._s_accents</key>
    <array>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern2._u_accents</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2._y_accents</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
  </dict>
</plist>
